<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
<script type="text/javascript">

    function ValidForm() {
        let form = document.getElementsByTagName('form');

        form.addEventListener('submit', function(e) {
            let author = document.getElementsByTagName('author');

            if (author.value.trim() === "") {
                let myError = document.getElementsByClassName('error');
                myError.innerHTML = "Veuillez remplir le champs";
                console.log(myError)
                e.preventDefault()
            }
        })
    }
</script>
<!-- Responsive navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.php">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="article.php">Poster un article</a></li>
                <li class="nav-item"><a class="nav-link" href="inscription.php">S'inscrire</a></li>
                <li class="nav-item"><a class="nav-link" href="connexion.php">Connexion</a></li>
                <li class="nav-item"><a class="nav-link" href="recherche.php">Rechercher</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    {% for article in articles %}
    <h2>{{ article.titre }}</h2>

    <div class="container">
        <img class="card-img-top" src="img/{{ article.id }}.jpg" alt="">
    </div>
    <p>{{ article.texte }}</p>
    {% endfor %}
    <div class="container">
        <span class="error"></span>
        <h2>Ecrire un commentaire :</h2>
        <form id="form" action="" method="post">
            <input type="text" class="form-control" name="author" placeholder="votre pseudo" id="author">
            <input type="email" class="form-control" name="email" placeholder="votre mail" id="mail">
            <textarea class="form-control" name="content" cols="50" rows="10" placeholder="votre commentaire" id="content"></textarea>
            <input class="btn btn-primary" onclick="ValidForm()" type="submit" name="submit" value="Envoyer">
        </form>

        <div class="container">
            <h2>Les commentaires :</h2>
            {% for commentaire in commmentaires %}
            <div class="container">
                <h2><strong>Auteur : {{ commentaire.author }}</strong> :</h2>
                <p>{{ commentaire.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>